.gallery-item {
  padding: 1rem;
  min-width: 0;
  min-height: 0;
  border: 1px solid var(--color-grey-light-3);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.03);
  &__img {
    height: 60%;
    width: 80%;
    display: block;
    margin: auto;
  }

  &__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0.5rem;
    color: var(--color-grey-dark-3);
    height: 2rem;
    overflow: hidden;
  }

  &__price {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
  }

  &__buttons {
    display: flex;

    &__cart,
    &__wish-list,
    &__buy-now {
      margin: 0.5rem;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: var(--color-grey-light-4);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-grey-light-1);
      &:hover {
        background-color: var(--color-grey-dark-2);
      }
    }

    &__cart,
    &__buy-now {
      background-color: var(--color-secondary);
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-light-1);
    }
  }
}
