.cart {
  &__total {
    display: flex;
    font-size: 1.2rem;
    color: var(--color-grey-dark-1);
    justify-content: flex-end;
    padding: 1rem 2rem;
    &__price {
      font-weight: 600;
    }
  }
}
